In [1]:
import sqlite3

conn = sqlite3.connect("cities500.db")
c = conn.cursor()

c.execute("""
CREATE TABLE IF NOT EXISTS cities500 (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    ascii_name TEXT,
    alt_names TEXT,
    lat REAL,
    lon REAL,
    cc TEXT,
    pop INTEGER
);""")

cities = []

with open("cities500/cities500.txt", "r", encoding="utf-8") as f:
    lines = f.readlines()
    
    n = len(lines)//100
    i = 1
    
    for l in lines:
        values = l.split('\t')
            
        # values name / ascii name / alt names / lat / lon / cc / pop
        
        name = values[1]
        ascii_name = values[2]
        alt_names = values[3]
        lat = values[4]
        lon = values[5]
        cc = values[8]
        pop = values[14]
        
        cities.append((name, ascii_name, alt_names, lat, lon, cc, pop))

c.executemany("INSERT INTO cities500 (name, ascii_name, alt_names, lat, lon, cc, pop) VALUES (?, ?, ?, ?, ?, ?, ?)", cities)
conn.commit()

conn.close()

In [7]:
import pandas as pd

conn = sqlite3.connect("cities500.db")
c = conn.cursor()

c.execute("SELECT * FROM cities500")
results_df = pd.DataFrame(c.fetchall())

print(results_df)

c.close()

             0                       1                       2  \
0            1                    Vila                    Vila
1            2                  Soldeu                  Soldeu
2            3                 Sispony                 Sispony
3            4               El Tarter               El Tarter
4            5     Sant Julià de Lòria     Sant Julia de Loria
...        ...                     ...                     ...
224743  224744                  Banket                  Banket
224744  224745                 Epworth                 Epworth
224745  224746             Chitungwiza             Chitungwiza
224746  224747  Harare Western Suburbs  Harare Western Suburbs
224747  224748           Mhangura Mine           Mhangura Mine

                                                        3         4         5  \
0                                         Casas Vila,Vila  42.53176   1.56654
1       Sol'deu,Soldeu,surudeu,swldw,Сольдеу,סולדאו,سو...  42.57688   1.66769
2                                                 Sispony  42.53368   1.51613
3       Ehl Tarter,El Tarter,El Tarter - Principau d'A...  42.57952   1.65362
4       San Julia,San Julià,Sant Julia de Loria,Sant J...  42.46372   1.49129
...                                                   ...       ...       ...
224743                             Banket,Banket Junction -17.38333  30.40000
224744                                            Epworth -17.89000  31.14750
224745  Chitungviza,Chitungwiza,Chytungviza,Citungviza... -18.01274  31.07555
224746                                                    -17.84150  30.87674
224747                                                    -16.89196  30.15902

         6
0       AD
1       AD
2       AD
3       AD
4       AD
...     ..
224743  ZW
224744  ZW
224745  ZW
224746  ZW
224747  ZW

[224748 rows x 7 columns]

In [6]:
c = conn.cursor()

c.execute("SELECT * FROM cities500 WHERE ascii_name = 'Lomas de Zamora'")
results_df = pd.DataFrame(c.fetchall())

print(results_df)

c.close()

      0                1                2                             3  \
0  1816  Lomas de Zamora  Lomas de Zamora  L. de Zamora,Lomas de Zamora

         4         5   6
0 -34.7574 -58.40279  AR

In [4]:
import sqlite3

conn = sqlite3.connect("users.db")
c = conn.cursor()

c.execute("""
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    username TEXT,
    email TEXT,
    password TEXT,
    points INTEGER
);""")

c.close()
conn.close()

In [4]:
import sqlite3

conn = sqlite3.connect("instance/users.db")
c = conn.cursor()

c.execute("""
ALTER TABLE users DROP COLUMN points
""")

c.close()
conn.close()

In [1]:
import sqlite3

conn = sqlite3.connect("instance/users.db")
c = conn.cursor()

c.execute("DELETE FROM users")
conn.commit()

c.close()
conn.close()

In [2]:
import sqlite3

conn = sqlite3.connect("instance/users.db")
c = conn.cursor()

c.execute("ALTER TABLE users RENAME COLUMN password TO hash_password")
conn.commit()

c.close()
conn.close()

In [5]:
import pandas as pd
conn = sqlite3.connect("instance/users.db")
c = conn.cursor()
    
c.execute("SELECT * FROM users WHERE id = ?", (1,))
df = pd.DataFrame(c.fetchall(), columns=[desc[0] for desc in c.description])

print(dict(df.iloc[0]))

{'id': np.int64(1), 'username': 'papu', 'email': 'papu@gmail.com', 'password_hash': 'kjzdfbjknxfvbjklnywatgrbiy'}